In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv("cleaned_primary_school_GDP.csv")
df

,Country,Indicator,Sex,Education Level,Wealth Quintile,Residence,Value,Time,GDP
0,Australia,Proportion of students at the end of primary a...,Female,Primary education,Total,Total,63.93016,2015,47232.62912
1,Australia,Proportion of students at the end of primary a...,Male,Primary education,Total,Total,65.67903,2015,47232.62912
2,Australia,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,68.00000,2019,52669.47390
3,Austria,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,84.00000,2019,58091.27226
4,Austria,Proportion of students at the end of primary a...,Female,Primary education,Total,Total,98.08942,2016,52665.08742
...,...,...,...,...,...,...,...,...,...
424,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,ural,1.10000,2016,12827.60358
425,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,rban,1.00000,2016,12827.60358
426,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,Total,1.00000,2016,12827.60358
427,South Africa,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,14.90000,2013,12616.60638
428,South Africa,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,36.10000,2013,12616.60638

In [21]:
df.dtypes

Country             object
Indicator           object
Sex                 object
Education Level     object
Wealth Quintile     object
Residence           object
Value              float64
Time                 int64
GDP                float64
dtype: object

In [24]:
#What is the relationship between wealth quintiles  and the percentage of out-of-school students?

df2 = df[df['Indicator'] == 'Out-of-school rate for children of primary school age']
df3 = df2.groupby(['Country','Wealth Quintile']).sum()
df3
#sns.heatmap(df2.corr(), cmap='cividis')  
#df3.corr()


#TAK SIAP LAGI!! TAKTAHU MCM MNE NK CARI RELATIONSHIP "wELATH QUANTILE"(OBJECT) DGN PERCENTAGE

                                  Value   Time            GDP
Country      Wealth Quintile
Brazil       Fourth            0.086456   2019   15422.748590
             Highest           0.274431   2019   15422.748590
             Lowest            0.680840   2019   15422.748590
             Middle            0.451238   2019   15422.748590
             Second            0.570422   2019   15422.748590
             Total             2.608539  10095   77113.742950
Chile        Total             6.000000  10085  122010.026850
China        Total            25.900000  10075   64329.001900
Colombia     Fourth            1.192265   2015   13330.562040
             Highest           1.696648   2015   13330.562040
             Lowest            2.551666   2015   13330.562040
             Middle            1.488963   2015   13330.562040
             Second            2.198711   2015   13330.562040
             Total             9.763341  10075   66652.810200
Costa Rica   Fourth            1.280279   2018   21283.952700
             Highest           0.423032   2018   21283.952700
             Lowest            1.264019   2018   21283.952700
             Middle            1.536188   2018   21283.952700
             Second            1.822037   2018   21283.952700
             Total             6.624418  10090  106419.763500
India        Fourth            2.500000   2016    5789.404696
             Highest           1.100000   2016    5789.404696
             Lowest           12.600000   2016    5789.404696
             Middle            3.600000   2016    5789.404696
             Second            5.500000   2016    5789.404696
             Total            28.400000  10080   28947.023480
Indonesia    Fourth            0.983091   2017   11050.882370
             Highest           0.397101   2017   11050.882370
             Lowest            3.313284   2017   11050.882370
             Middle            0.687163   2017   11050.882370
             Second            1.937817   2017   11050.882370
             Total             7.322864  10085   55254.411850
Mexico       Total             6.100000  10090  101774.147550
South Africa Fourth            0.500000   2016   12827.603580
             Highest           0.400000   2016   12827.603580
             Lowest            1.800000   2016   12827.603580
             Middle            1.100000   2016   12827.603580
             Second            1.100000   2016   12827.603580
             Total             5.100000  10080   64138.017900
Turkey       Fourth            3.800000   2013   22373.136550
             Highest           2.400000   2013   22373.136550
             Lowest            7.000000   2013   22373.136550
             Middle            2.700000   2013   22373.136550
             Second            2.500000   2013   22373.136550
             Total            19.200000  10065  111865.682750