In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv("cleaned_primary_school_GDP.csv")
df

,Country,Indicator,Sex,Education Level,Wealth Quintile,Residence,Value,Time,GDP
0,Australia,Proportion of students at the end of primary a...,Female,Primary education,Total,Total,63.93016,2015,47232.62912
1,Australia,Proportion of students at the end of primary a...,Male,Primary education,Total,Total,65.67903,2015,47232.62912
2,Australia,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,68.00000,2019,52669.47390
3,Austria,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,84.00000,2019,58091.27226
4,Austria,Proportion of students at the end of primary a...,Female,Primary education,Total,Total,98.08942,2016,52665.08742
...,...,...,...,...,...,...,...,...,...
424,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,ural,1.10000,2016,12827.60358
425,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,rban,1.00000,2016,12827.60358
426,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,Total,1.00000,2016,12827.60358
427,South Africa,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,14.90000,2013,12616.60638
428,South Africa,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,36.10000,2013,12616.60638

In [ ]:
#“What is the expected GDP of a country given its primary school completion rate, primary school enrollment rate, 
#primary school completion rate, literacy rate, maths proficiency rate and reading proficiency rate?”